* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

ul {
  padding-left: 0rem;
}

img {
  max-width: 100%;
}

h1 {
  color: #351cad;
  font-family: "Chela One", sans-serif;
  font-style: bold;
  text-align: center;
  margin: 1rem;
  font-size: 50px;
}
@media (min-width: 768px) {
  h1 {
    font-size: 80px;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 90px;
  }
}

h2 {
  color: #351cad;
  font-family: "Chela One", sans-serif;
  font-style: bold;
  font-size: 40px;
  text-align: center;
  margin: 1rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 70px;
  }
}
@media (min-width: 1200px) {
  h2 {
    font-size: 80px;
  }
}

h3 {
  color: #351cad;
  font-family: "Chela One", sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 1rem;
}
@media (min-width: 768px) {
  h3 {
    font-size: 60px;
  }
}
@media (min-width: 1200px) {
  h3 {
    font-size: 70px;
  }
}

p {
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}

/* === Footer === */
footer {
  background-color: #fae75a;
  color: black;
  padding: 1rem;
  font-family: "Chela One", sans-serif;
  font-weight: bold;
}
footer a img {
  max-height: 100px;
}
footer ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  grid-template-rows: 3fr;
}
footer ul img {
  max-height: 30px;
}
footer .cont {
  display: none;
}
footer .cont-footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media (min-width: 1200px) {
  footer .cont {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    text-align: center;
  }
  footer .cont-footer {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
  }
}
/* === Header === */
.navbar-nav {
  --bs-nav-link-color: black;
}
.navbar-brand {
  color: black;
  margin-right: 0rem;
}
.navbar-toggler {
  color: #351cad;
}
.navbar-collapse {
  justify-content: flex-end;
}

.bg-body-tertiary {
  background-color: #fae75a !important;
}

.container {
  font-family: "Chela One", sans-serif;
}

header nav img {
  max-height: 50px;
  margin-right: 0.5rem;
}

@media (min-width: 768px) {
  .container,
  .navbar-brand {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .container,
  .navbar-brand {
    font-size: 30px;
  }
}
/* === Body - Seccion: Receta - Tarjetas ====*/
.cont-esp {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 5rem;
  gap: 5rem;
  justify-items: center;
}

.esp-tarjeta-body {
  flex-grow: 1;
  background-color: #fae75a;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid black;
  border-radius: 0px 0px 20px 20px;
}
.esp-tarjeta-body a {
  background-color: #351cad;
  color: white;
  padding: 0.5rem 1rem;
  border: 2px solid black;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 0.5rem;
  font-family: "Bree Serif", sans-serif;
  font-size: 15px;
}
.esp-tarjeta-body p {
  font-family: "Bree Serif", sans-serif;
  font-size: 15px;
  padding: 0rem 0.5rem;
  text-align: center;
}
.esp-tarjeta-body h3 {
  font-size: 25px;
  margin: 0rem;
  margin-top: 0.5rem;
}
.esp-tarjeta-body span {
  font-family: "Bree Serif", sans-serif;
  font-size: 15px;
}

.esp-tarjeta {
  width: 280px;
  height: 370px;
  display: flex;
  flex-direction: column;
}
.esp-tarjeta img {
  width: 100%;
  border: 3px solid black;
  border-bottom: none;
  border-radius: 20px 20px 0px 0px;
}

@media (min-width: 768px) {
  .cont-esp {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .cont-esp {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .esp-tarjeta {
    width: 300px;
    height: 420px;
  }
  .esp-tarjeta-body a {
    font-size: 20px;
  }
  .esp-tarjeta-body p {
    font-size: 20px;
  }
  .esp-tarjeta-body h3 {
    font-size: 30px;
    margin-top: 1rem;
  }
  .esp-tarjeta-body span {
    font-size: 20px;
  }
}
/* === Body - Seccion: Inicio ====*/
.cont-inicio-body {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  text-align: justify;
  justify-items: center;
}
.cont-inicio-body p {
  font-family: "Bree Serif", sans-serif;
  font-size: 15px;
  padding: 0rem 0.5rem;
  text-align: justify;
}
.cont-inicio-body img {
  display: flex;
  max-height: 600px;
  width: 80%;
}

@media (min-width: 768px) {
  .cont-inicio-body {
    padding: 0rem 2rem;
  }
  .cont-inicio-body p {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .cont-inicio-body {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    text-align: justify;
    padding: 0rem 10rem;
    justify-items: center;
  }
  .cont-inicio-body p {
    font-size: 30px;
  }
  .cont-inicio-body img {
    max-height: 600px;
    width: 70%;
    margin-bottom: 2rem;
  }
}
/* === Body - Seccion: Contactos ===*/
form div {
  text-align: center;
  padding: 0.5rem;
}

.cont-redessociales-contacto {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem;
}
.cont-redessociales-contacto img {
  max-height: 100px;
  object-fit: cover;
}

.logo-email {
  display: none;
}

.cont-form {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bree Serif", sans-serif;
  font-size: 15px;
}

label {
  color: #351cad;
  font-weight: bold;
  display: grid;
  align-items: center;
}

.boton {
  color: white;
  cursor: pointer;
  padding: 5px;
  margin: 0 20px 20px 0;
  background: #351cad;
  border-radius: 8px 8px 8px 8px;
}

@media (min-width: 768px) {
  .cont-form {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .logo-email {
    display: flex;
    max-height: 300px;
    align-items: stretch;
  }
  .cont-form {
    margin: 2rem;
    gap: 5rem;
    font-size: 30px;
  }
}
/* === Body - Seccion: Historia === */
.img-historia {
  display: none;
}
.img-historia-mobile {
  margin-bottom: 2rem;
}

.texto-historia {
  font-family: "Bree Serif", sans-serif;
  font-size: 15px;
  padding: 0rem 0.5rem;
}

.cont-historia {
  text-align: justify;
}

@media (min-width: 768px) {
  .cont-historia {
    position: relative;
    display: inline-block;
    display: flex;
    max-width: 100%;
    max-height: 500px;
    padding: 0rem 5rem;
    justify-content: center;
  }
  .texto-historia {
    position: absolute;
    top: 48%;
    left: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }
  .img-historia {
    display: flex;
    max-height: 700px;
    width: 100%;
    max-width: 1200px;
    filter: opacity(40%);
    margin-bottom: 2rem;
  }
  .img-historia-mobile {
    display: none;
  }
}
@media (min-width: 1200px) {
  .texto-historia {
    font-size: 25px;
  }
}
/* === Body - Seccion: Nuestra Ruta === */
.mapa iframe {
  display: none;
}

.mundo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 10%;
}

.ruta {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7fr;
  text-align: center;
  font-family: "Bree Serif", sans-serif;
  font-size: 15px;
}
.ruta li {
  margin: 1rem;
}

.cont-nuestra-ruta {
  padding: 0rem;
}

.prox-fechas {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .mapa iframe {
    display: flex;
    width: 100%;
    padding: 0rem 10rem;
  }
  .mundo {
    display: none;
  }
  .ruta {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .ruta {
    font-size: 30px;
  }
}
/* === Body - Seccion: Receta ===*/
.imag-receta {
  display: none;
}
.imag-receta-mobile {
  display: flex;
  max-height: 400px;
  width: 100%;
  margin-bottom: 2rem;
}

.cont-receta {
  text-align: justify;
}
.cont-receta-prep {
  text-align: justify;
}

.texto-receta {
  font-family: "Bree Serif", sans-serif;
  font-size: 15px;
  padding: 0rem 0.5rem;
}
.texto-receta ul {
  list-style: inside;
  list-style-type: circle;
}

@media (min-width: 768px) {
  .cont-receta {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: justify;
    padding: 0rem 2rem;
  }
  .cont-receta-prep {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    text-align: justify;
    padding: 0rem 2rem;
  }
  .imag-receta {
    display: flex;
    max-height: 400px;
    width: 100%;
  }
  .imag-receta-mobile {
    display: none;
  }
}
@media (min-width: 1200px) {
  .texto-receta {
    font-size: 30px;
  }
  .cont-receta {
    padding: 0rem 10rem;
  }
  .cont-receta-prep {
    padding: 0rem 10rem;
    grid-template-rows: 1fr 0.5fr;
  }
  .cont-receta-prep .imag-receta {
    width: 60%;
    margin: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
