/* === Body - Seccion: Inicio ====*/
.cont-inicio-body{
    @include display-center;
    grid-template-columns: 1fr;
    text-align:justify;
    justify-items: center;

    p {
        font-family: $ff-texto;
        font-size: 15px;
        padding: 0rem 0.5rem;
        text-align: justify;
    }
    img {
        display: flex;
        max-height: 600px;
        width: 80%;
    }
}

@media (min-width: 768px) {
    .cont-inicio-body{
        padding: 0rem 2rem;

        p{
            font-size: $fs-texto-tablet;
        }

    }

}

@media (min-width: 1200px) {
    .cont-inicio-body{
        @include display-center;
        grid-template-columns: 1fr;
        text-align:justify;
        padding: $pad-desktop;
        justify-items: center;

        p {
            font-size: $fs-texto-desktop;
        }

        img {
            max-height: 600px;
            width: 70%;
            margin-bottom: 2rem;
        }
    }
}



